/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 /*#show_swipe {
    position: absolute;
}
#show_swipe1 {
    position: absolute;
}
#content1 {
    position: absolute;
}
#content2 {
    position: absolute;
}
.ui-content {
    background-image: url('img/cdi_logo.png');
    background-repeat: no-repeat;
}*/
.logo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img_up {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 3;
}
#img_down {
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
}
#img_up1 {
    left: 0;
    top: 0;
    position: fixed;
    z-index: 3;
}
#img_down1 {
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 3;
}
#link_current1 {
	left: 100%;
    top: 0;
    position: fixed;
    width:100px;
    height:25px;
    z-index: 3;
}
.ui-btn.custom_btn {
    -webkit-user-select: none;
    -webkit-touch-callout: none !important;
    display:block;
    width:25px;
    height:33px;
    line-height:33px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    box-shadow: 0 0 3px black;
    font-size:12px;
    text-decoration:none;
    box-shadow: none !important;
    margin: 0 auto;
}
#todays_date {
   text-align: center;
}
#div_date {
      text-align: center;
}
#popup_feedback {
        
}
#stand_feed{
  text-align: center;
}
#ans_ok{
   margin: 0 auto;
}
#cus_feed {
  text-align: center;
}
#div_title {
    text-align: center;
}
#div_module {
    text-align: center;
}
#div_criteria {
    text-align: center;
}
#save_data0 {
    text-align: center;
}
#save_data1 {
    text-align: center;   
}
#div_title0 {
    text-align: center;
}
#div_module0 {
    text-align: center;
}
#div_criteria0 {
    text-align: center;
}
#save_data00 {
    text-align: center;
}
#save_data10 {
    text-align: center;   
}
.ui-btn.custom_btn1 {
    display:block;
    width:25px;
    height:33px;
    line-height:33px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    box-shadow: 0 0 3px black;
    font-size:12px;
  text-decoration:none;
    box-shadow: none !important;
}
.ui-btn.custom_btn2 {
  display:block;
    width:25px;
    height:33px;
    line-height:33px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    box-shadow: 0 0 3px black;
    font-size:12px;
  text-decoration:none;
    box-shadow: none !important;
    pointer-events: none;
    cursor: default;
     margin: 0 auto;
}


table thead th {
    padding: 10px;
    white-space: nowrap;
}
table tbody td {
    border-bottom: solid 1px black;
    padding: 10px;
    white-space: nowrap;
}
#wrap {
    position: relative;

}
#tbl_1 {
    direction: rtl;
    margin-left: 141px;
   /* overflow-x: scroll;
    overflow-y: visible;*/
    padding-bottom: 5px;
    width: 200px;
}
table {
    border: none;
    border-collapse: separate;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}

table .c_col {
    left: 0;
    position: absolute;
    top: auto;
    width: 120px;
}
table {
    border-collapse: collapse;
}

table, td, th.c_row {
    border: 1px solid black;
}
/*#my-collaspible .ui-collapsible-collapsed .ui-icon{
    display: none;
}
#my-collaspible .ui-icon{
    display: none;
}*/
.list_nr1 .ui-icon{
    display: none;
}
.list_nr2 .ui-icon{
    display: none;
}
.btn_feed {
    font-weight:normal !important;
}
.scroll_list{
    
    /*overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 250px;*/
}
#div_criteria{
    
   /* overflow-y: scroll;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;*/
}
#save_data1 {
    /*overflow-y: scroll;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;*/
}
#btn_save {
    background-image:none;
}
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
.ui-header .ui-alt-icon.ui-nodisc-icon.ui-btn.ui-btn-icon-notext {
  background-color: transparent;
  border-color: transparent;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
