<?xml version='1.0' encoding='utf-8'?>
<widget android-versionCode="00001" id="io.nardus.ios_test" version="0.01" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
    <preference name="phonegap-version" value="cli-9.0.0" />
    <icon height="1024" src="logo1_1.png" width="1024" />
    <icon density="mdpi" height="57" platform="android" src="img/logo.png" width="57" />
    <name>Test IOS</name>
    
    <description>
        Testing IOS
    </description>
    <author email="serfonteinnardus@gmail.com">
        Nardus Serfontein
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
	    <allow-intent href="http://192.168.1.106/" />
    </platform>
    <platform ios-CFBundleVersion="0.01" name="ios" version="0.01">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <allow-intent href="*192.168.1.106*" />
        <icon height="180" src="images/Icon-180.png" width="180" />
        <icon height="60" src="images/Icon-Notification@3x.png" width="60" />
        <icon height="120" src="images/Icon-120.png" width="120" />
        <icon height="76" src="images/Icon-76.png" width="76" />
        <icon height="152" src="images/Icon-152.png" width="152" />
        <icon height="40" src="images/Icon-Notification@2x.png" width="40" />
        <icon height="80" src="images/Icon-Small-80.png" width="80" />
        <icon height="57" src="images/Icon.png" width="57" />
        <icon height="114" src="images/Icon@2x.png" width="114" />
        <icon height="72" src="images/Icon-72.png" width="72" />
        <icon height="144" src="images/Icon-144.png" width="144" />
        <icon height="167" src="images/Icon-167.png" width="167" />
        <icon height="29" src="images/Icon-Small.png" width="29" />
        <icon height="58" src="images/Icon-Small@2x.png" width="58" />
        <icon height="50" src="images/Icon-App-40x40@2x.png" width="50" />
        <icon height="100" src="images/Icon-App-40x40@2x.png" width="100" />
        <icon height="167" src="images/Icon-167.png" width="167" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-dialogs" spec="^2.0.1" />
    <engine name="browser" spec="^5.0.4" />
</widget>
